* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: f4f4f4;
  line-height: 1.5em;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(38, 45, 46);
  height: 20%;
}

header img{
    width: 10%;
    object-fit: cover;
}

nav a{
    color: #fff;
    margin: 20px;
    text-decoration: none;
}

h1{
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 1.2em;
    font-size: 3rem;
}

main{
  min-height: 400px;
  color: #fff;
    background: linear-gradient(#00bfff, #0974f1);
    padding-left: 25px;
}
main img{
   max-width: 50%;
}
main .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
