* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.5em;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(38, 45, 46);
  height: 20%;
}

header img {
  width: 10%;
  object-fit: cover;
}

nav a {
  color: #fff;
  margin: 20px;
  text-decoration: none;
}

h1 {
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 1.2em;
  font-size: 3rem;
}

main {
  min-height: 400px;
  color: #fff;
  background: linear-gradient(#00bfff, #0974f1);
  padding-left: 25px;
}
main img {
  max-width: 50%;
}
main .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-box h2 {
  text-align: center;
  margin-bottom: 5px;
  color: rgb(89, 7, 64);
  font-weight: 600;
}
.flex-box {
  display: flex;
  justify-content: space-between;
}

.box {
  flex: 1;
  background: dodgerblue;
  color: #fff;
  border-radius: 10px;
  margin: 50px 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
  padding: 15px 20px;
}

#footer {
  background: #333;
  color: #fff;
  margin-top: 30px;
  padding: 50px;
  text-align: center;
}

/* -----about section----- */
section .about-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about {
  flex: 1;
  margin-top: 94px;
  padding: 56px;
}

.about h2 {
  margin-bottom: 15px;
  font-size: 30px;
  color: dodgerblue;
  font-weight: 200;
}

.about p {
  line-height: 1.5em;
  font-size: 19px;
}

/* -------services section--------- */
.services-section {
  margin-top: 20px;
  padding-left: 10px;
  /* text-align: center; */
}

.grid-box {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-box .item {
 /* background: dodgerblue; */
  /* border: 1px solid black; */
  padding: 10px;
  text-align: center;
}

.item p{
  margin-bottom: 18px;
}

.item i{
  color: dodgerblue;
  font-size: 35px;
}
.service h2{
  text-align: center;
  margin: 50px 0 10px;
  color: dodgerblue;
  font-weight: 600;
  font-size: 30px;
}

.service p{
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
}

.services-section button{
  background: dodgerblue;
  padding: 15px;
  color: #fff;
  border: none;
  border-radius: 8px;
}

.btn{
  text-align: center;
}
